section {
  position: absolute;
  top: 96px;
  left: 232px;
  width: 456px;
  height: calc(100vh - 96px);
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 0px 6px 0px #00000014;
}

.content_width_contacts {
  position: relative;
  width: 400px;
  margin-left: 52px;
}

.add_contact_btn_position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_contact_btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 352px;
  height: 56px;
  gap: 16px;
  margin-top: 22.5px;
  margin-bottom: 16px;
  border-radius: 10px;
  border: 1px solid rgba(42, 54, 71);
  background-color: rgba(42, 54, 71);
  color: rgba(255, 255, 255, 1);
  font-size: 21px;
  font-weight: 700;
}

.add_contact_btn:hover {
  border: 1px solid rgba(41, 171, 226);
  background-color: rgba(41, 171, 226);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.add_contact_btn img {
  width: 32px;
  height: 32px;
  color: rgba(255, 255, 255);
}

.contact_list_scrollbar {
  display: flex;
  flex-direction: column;
  width: 352px;
  height: calc(100vh - 96px - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 52px;
  gap: 8px;
}

.contact_list_scrollbar::-webkit-scrollbar {
  width: 8px;
}

.contact_list_scrollbar::-webkit-scrollbar-thumb {
  height: 53px;
  background-color: rgba(168, 168, 168);
  border-radius: 12px;
}

.contact_list_scrollbar::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255);
}

.contact_list_scrollbar::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: rgba(168, 168, 168);
}

.first_letter {
  font-size: 20px;
  font-weight: 400;
}

.line_bottom {
  border: 1px solid rgba(209, 209, 209);
  border-radius: 3px;
  width: 352px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.contact_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 328px;
  height: 78px;
  padding-left: 24px;
  border-radius: 10px;
  cursor: pointer;
}

.contacts_list_first_letter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 352px;
  height: 58px;
  padding-left: 38px;
  padding-top: 16px;
}

.hover_contact_list:hover {
  transition: ease-in-out 125ms;
  background-color: rgb(249, 249, 249);
}

.contact_active {
  background-color: rgba(42, 54, 71, 1);
  color: rgba(255, 255, 255);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid;
  border-color: white;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  text-align: center;
}

.circle_contact_img {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid;
  border-color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 47px;
  font-weight: 500;
}

.account_info {
  display: flex;
  flex-direction: column;
  height: 48px;
  gap: 5px;
  margin-left: 35px;
  padding: 15px 24px 15px 24px;
}

.account_info p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.account_info span {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 124, 238);
}

@media only screen and (max-width: 1350px) {
  section {
    width: 406px;
  }

  .contact_list_scrollbar {
    width: 302px;
    padding-right: calc(28px + 52px);
  }

  .content_width_contacts {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 1200px) {
  section {
    left: 0;
  }

  .contact_list_scrollbar {
    height: calc(100vh - 291px);
  }
}

@media only screen and (max-width: 900px) {
  body {
    overflow: hidden;
  }

  section {
    width: 100%;
    height: 100vh;
  }

  .content_width_contacts {
    width: calc(100% - 48px);
    margin-left: 24px;
    margin-right: 24px;
  }

  .contact_list_scrollbar {
    width: 100%;
    padding-right: 0;
    height: calc(100vh - 260px);
  }

  .add_contact_btn {
    display: none;
  }

  .respnsive_add_contact {
    background-color: saddlebrown;
    position: absolute;
    bottom: 130px;
    right: 24px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    border: none;
  }

  .responsive_add_contact img {
    width: 32px;
    height: 32px;
  }

  .responsive_edit_contact {
    background-color: saddlebrown;
    position: absolute;
    bottom: 50px;
    right: 24px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(42, 54, 71, 1);
    border: none;
  }

  .responsive_edit_contact img {
    width: 32px;
    height: 24px;
  }

  .contact_active {
    margin-right: 24px;
  }

  .account_info {
    margin-left: 24px;
  }

  .contacts_list_first_letter {
    justify-content: flex-start;
    width: 100%;
  }

  .line_bottom {
    width: calc(100% - 16px);
  }
}

@media only screen and (max-width: 400px) {
  .account_info {
    padding: 8px 16px 8px 0px;
    margin-left: 16px;
  }
}
