.overlay_background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: background-color 125ms;
}

.overlay_contact_successfully_created {
  position: absolute;
  top: 85%;
  left: 914px;
  transform: translate(-50%, -50%);
  width: 326px;
  height: 74px;
  border-radius: 30px;
  z-index: 1;
  background-color: rgba(42, 54, 71, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay_contact_infos {
  position: absolute;
  top: 311px;
  left: 750px;
  height: 364px;
  z-index: 3;
}

.arrow_contact_info {
  display: none;
}

@media only screen and (max-width: 1350px) {
  #overlay_contact_infos {
    left: calc(750px - 76px);
  }

  .overlay_contact_info_header {
    width: 450px;
  }
}

@media only screen and (max-width: 1200px) {
  #overlay_contact_infos {
    left: 450px;
  }

  .overlay_contact_successfully_created {
    top: 80%;
    left: 650px;
  }

  .overlay_background {
    z-index: 11;
  }
}

@media only screen and (max-width: 900px) {
  header,
  aside {
    z-index: 10;
  }

  .btn_position {
    display: none;
  }

  .overlay_contact_successfully_created {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    padding: 24px;
    text-align: center;
  }

  #overlay_contact_infos {
    position: absolute;
    left: 0;
    right: 0;
    top: 96px;
    bottom: 80px;
    background-color: #f6f7f8;
    padding: 12px 24px 24px 24px;
    height: auto;
    width: auto;
  }

  .overlay_contact_info_header {
    width: 100%;
  }

  .arrow_contact_info {
    position: absolute;
    display: block;
    right: 36px;
    top: 30px;
  }

  .responsive_contact_headline {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .responsive_header_standard_size h1 {
    font-size: 61px;
    margin: 20px 0 0 0;
  }

  .responsive_header_standard_size h2 {
    font-size: 27px;
    font-weight: 400;
  }

  .headline_contact_info {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .overlay_contact_info_header {
    gap: 24px;
  }

  .overlay_contact_info_header h2 {
    font-size: 30px;
  }
}
