.scrollbar {
  overflow-y: auto;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.close_button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.title_description_date {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 30px;
}

label {
  display: flex;
}

h3 {
  display: flex;
  font-size: 16px;
  font-family: Inter;
  font-weight: lighter;
}

#editAssigned {
  display: flex;
}

.dimensions {
  width: 100%;
  height: 35px;
}

textarea {
  width: 100%;
  height: 80px;
  border: solid 1px rgba(209, 209, 209, 1);
  border-radius: 10px;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.prio_button {
  cursor: pointer;
  width: 120px;
  height: 50px;
  border: solid 1px rgba(209, 209, 209, 0.37);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.prio_button:hover {
  filter: drop-shadow(1px 4px 1px rgba(193, 193, 193, 0.247));
}

.no_hover:hover {
  filter: drop-shadow(0px 0px 0px rgba(193, 193, 193, 0.247));
}

select {
  width: 100%;
  height: 35px;
  border: solid 1px rgba(209, 209, 209, 1);
  border-radius: 10px;
}

.assigned_to {
  display: flex;
  align-items: center;
  margin: 0 0 20px 10px;
}

.spacing {
  margin-left: 2px;
}

.subtask_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: solid 1px rgba(209, 209, 209, 1);
  background-color: white;
  padding-right: 16px;
}

.subtasks_box {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.subtasks_box input {
  border: 0;
  outline: 0;
}

.subtask_box_items {
  display: flex;
  justify-content: space-between;
}

.subtask_edit_buttons {
  display: none;
  margin-right: 10px;
  white-space: nowrap;
}

.pen,
.trash,
.confirm {
  cursor: pointer;
}

.subtask_box_items:hover {
  background-color: rgba(215, 215, 215, 0.432);
  border-radius: 8px;
}

.disable_box_items_hover {
  background-color: white;
}

.subtask_box_items:hover .subtask_edit_buttons {
  display: inline;
}

.display {
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.editTask {
  display: flex;
  margin: 3px 0 3px 0;
  cursor: pointer;
}

.edit_subtask_input_field {
  display: flex;
}

.under_line {
  border-bottom: 1px solid rgba(133, 192, 217);
}

.buttons {
  display: flex;
  height: 1.4rem;
}

#editInputField {
  width: 100%;
}

#editSubtask::placeholder {
  font-size: 17px;
  opacity: 0.5;
}

#okBtn {
  width: 89px;
  height: 56px;
  background-color: rgb(42, 54, 71);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  bottom: 23px;
}

#okBtn:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 5px 5px 0 rgba(104, 104, 104, 0.301);
  transform: scale(1);
}

[type="date"]::-webkit-calendar-picker-indicator {
  background: #fff url(../assets/icons/addTask/typeDate.svg) 97% 50% no-repeat;
}

@media only screen and (max-width: 1200px) {
  .prio_button {
    width: 80px;
    height: 35px;
    font-size: 12px !important;
  }

  label {
    font-size: 14px;
  }

  .dimensions {
    height: 30px;
    font-size: 14px;
  }

  .title_description_date {
    margin-bottom: 20px;
  }

  .close_button {
    margin-bottom: 10px;
  }

  .subtask_input {
    height: 30px;
  }

  .editTask {
    font-size: 14px;
  }

  #okBtn {
    width: 70px;
    height: 40px;
    font-size: 14px;
    bottom: 13px;
    right: 30px;
  }

  #editTitle,
  #editDate {
    width: 100% !important;
  }

  [type="date"]::-webkit-calendar-picker-indicator {
    background: #fff url(../assets/icons/addTask/typeDate.svg) 20% 50% no-repeat;
    background-size: 20px 20px !important;
  }
}

@media only screen and (min-width: 800px) {
  .prio_button {
    width: 120px;
    height: 50px;
    font-size: 13px;
  }

  #editTitle,
  #editDate {
    width: 100% !important;
  }
}
