header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: relative;
  padding: 0 40px 0 348px;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
  left: 0;
  height: 96px;
  z-index: 2;
}

header h1 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

header img {
  width: 24px;
  height: 24px;
}

.question_marker_account_img_position {
  display: flex;
  align-items: center;
  gap: 16px;
}

.question_marker {
  width: 32px;
  height: 32px;
}

.question_marker:hover {
  width: 32px;
  height: 32px;
  content: url(../assets/icons/imgs/questionMarkerHover.svg);
}

.account_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(42, 54, 71, 1);
  border-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  color: rgb(41, 171, 226);
  font-size: 20px;
}

.account_circle:hover {
  cursor: pointer;
  background-color: rgba(12, 46, 98, 0.12);
}

.active {
  background-color: rgba(12, 46, 98, 0.12);
}

.mobile_logo {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .mobile_logo {
    display: flex;
    width: 100%;
    height: 100%;
  }

  header h1 {
    display: none;
  }

  header {
    padding: 0 24px 0 24px;
  }
}
