body {
  overflow: hidden;
}

.help_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1014px;
  gap: 30px;
}

.help_header img {
  width: 32px;
  height: 32px;
}

.help_header img:hover {
  cursor: pointer;
  content: url(../assets/icons/help/arrow_hover.svg);
  width: 30px;
  height: 32px;
}

.help_header h1 {
  font-size: 61px;
  margin: 0;
}

.scroll_layout {
  gap: 24px;
  margin: 110px 0 110px 96px;
  overflow-y: scroll;
  width: 1014px;
}

.scroll_layout::-webkit-scrollbar {
  display: none;
}

.layout h2 {
  font-size: 27px;
  font-weight: 700;
  line-height: 32.4px;
}

.layout p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.layout span {
  color: rgb(41, 171, 226);
}

ol {
  list-style-type: decimal;
  padding-left: 30px;
}

li::marker {
  font-size: 27px;
  font-weight: 700;
}

li {
  font-size: 16px;
  padding-bottom: 16px;
}

li p,
h3 {
  margin: 0;
}

@media only screen and (max-width: 1400px) {
  .scroll_layout {
    width: auto;
    margin: 110px 40px 110px 96px;
  }

  .help_header {
    width: calc(100% - 12px);
  }
}

@media only screen and (max-width: 1200px) {
  .legal_and_policy_position {
    display: none;
  }

  .question_marker {
    display: none;
  }

  .scroll_layout {
    width: 100%;
    margin: 32px 24px 112px 24px;
    padding-bottom: 40px;
  }

  .nav_position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }

  .link_nav_summary,
  .link_nav_add_task,
  .link_nav_board,
  .link_nav_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 16px;
    width: 120px;
  }

  .link_nav_summary a,
  .link_nav_add_task a,
  .link_nav_board a,
  .link_nav_contacts a {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 540px) {
  .link_nav_summary,
  .link_nav_add_task,
  .link_nav_board,
  .link_nav_contacts {
    width: 80px !important;
  }
}

@media only screen and (max-width: 400px) {
  .nav_position a {
    font-size: 12px !important;
  }

  .nav_position img {
    width: 24px !important;
    height: 24px !important;
  }

  .link_nav_summary,
  .link_nav_add_task,
  .link_nav_board,
  .link_nav_contacts {
    width: 65px !important;
  }
}
