@media only screen and (max-width: 1350px) {
  .greetings_position {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    overflow: auto;
    padding-top: 80px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 48px);
  }

  main {
    overflow-y: auto;
    height: calc(100vh - 80px);
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .question_marker_account_img_position a {
    display: none;
  }

  .greetings_position {
    display: flex;
    top: 400px;
    left: 500px;
  }

  .header_standard_position {
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    padding-top: 32px;
    padding-left: 24px;
  }

  .line {
    display: none;
  }

  .line_responsive {
    border-top: 3px solid rgb(41, 171, 226);
    width: 90px;
    height: 0;
  }

  .legal_and_policy_position {
    display: none;
  }

  .dashboard {
    height: 360px;
    width: 396px;
    left: 24px;
    top: 320px;
  }

  .column {
    gap: 0px;
  }

  .dashboard_img_size_pen,
  .dashboard_img_size_hook,
  .dashboard_img_size {
    height: 40px;
    width: 40px;
  }

  .box_number_size {
    font-weight: 600;
    font-size: 47px;
  }

  .to_do_and_done {
    height: auto;
  }

  .box_to_do,
  .box_done {
    width: 186px;
    height: 100px;
  }

  .urgency_summary {
    width: 396px;
    height: 100px;
  }

  .box_urgency_summary {
    gap: 20px;
  }

  .line_urgency {
    height: 68px;
  }

  .logo_position {
    display: none;
  }

  .nav_position {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 24px;
    margin-right: 24px;
  }

  .link_nav_summary,
  .link_nav_add_task,
  .link_nav_board,
  .link_nav_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 16px;
    width: 120px;
  }

  .link_nav_summary a,
  .link_nav_add_task a,
  .link_nav_board a,
  .link_nav_contacts a {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .box_tasks_in_board,
  .box_tasks_in_progress,
  .box_awating_feedback {
    height: 100px;
    width: 116px;
  }

  .box_text_size {
    font-weight: 400;
    font-size: 14px;
  }
}

@media only screen and (max-width: 900px) {
  .greetings_position {
    display: none;
  }

  .greetings_position {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    animation: fadeOut 2s forwards;
  }

  .greetings_position p {
    font-size: 47px;
    font-weight: 500;
    color: rgb(42, 54, 71);
    text-align: center;
  }

  .greetings_position .account_name {
    font-size: 64px;
    font-weight: 700;
    color: rgb(41, 171, 226);
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  .main_content {
    display: none;
  }

  .greetings_position.fade-out + .main-content {
    display: block;
  }

  .greetings_position p {
    font-size: 32px;
  }

  .greetings_position .account_name {
    font-size: 47px;
  }
}

@media only screen and (max-width: 540px) {
  .link_nav_summary,
  .link_nav_add_task,
  .link_nav_board,
  .link_nav_contacts {
    width: 80px;
  }

  .dashboard {
    width: calc(100% - 48px);
  }

  .urgency_summary {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .box_to_do {
    width: 160px;
  }

  .box_done {
    width: 160px;
  }

  .urgency_summary {
    width: 100%;
  }

  .date_deadline {
    font-size: 16px;
  }

  .text_deadline {
    font-size: 12px;
  }

  .box_tasks_in_board,
  .box_tasks_in_progress,
  .box_awating_feedback {
    width: 100px;
  }

  .box_text_size {
    font-weight: 400;
    font-size: 10px;
  }

  .dashboard_img_size_pen,
  .dashboard_img_size_hook,
  .dashboard_img_size {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (max-height: 740px) {
  main {
    height: calc(100vh + 10px);
  }
}

@media only screen and (max-height: 650px) {
  main {
    height: calc(100vh + 80px);
  }
}
