.greetings_position {
  position: absolute;
  height: 136px;
  top: 505px;
  left: 968px;
}

.greetings_position p {
  font-size: 47px;
  font-weight: 500;
  color: rgb(42, 54, 71);
}

.account_name {
  font-size: 64px;
  font-weight: 700;
  color: rgb(41, 171, 226);
}

.dashboard {
  position: absolute;
  width: 560px;
  height: 562px;
  top: 335px;
  left: 328px;
}

.dashboard_img_size {
  height: 69px;
  width: 69px;
}

.to_do_and_done {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 168px;
  gap: 18px;
}

.box_to_do {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 264px;
  height: 168px;
  border-radius: 30px;
  gap: 18px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.box_to_do:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 54, 71);
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box_done {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 264px;
  height: 168px;
  border-radius: 30px;
  gap: 18px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.box_done:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 54, 71);
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box_to_do:hover .dashboard_img_size_pen {
  content: url("../assets/icons/summary/pen_hover.svg");
}

.box_done:hover .dashboard_img_size_hook {
  content: url("../assets/icons/summary/hook_hover.svg");
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.box_number_size {
  font-size: 64px;
  font-weight: 600;
}

.box_text_size {
  font-size: 20px;
  font-weight: 400;
}

.urgency_summary {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 168px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  margin-top: 28px;
  margin-bottom: 28px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.urgency_summary:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 54, 71);
  transform: scale(1.025);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box_urgency_summary {
  display: flex;
  align-items: center;
  gap: 61px;
}

.img_and_text_summary {
  display: flex;
  align-items: center;
  gap: 13px;
}

.line_urgency {
  border-left: 2px solid rgb(209, 209, 209);
  height: 102.02px;
}

.date_text_deadline_gap {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.date_deadline {
  font-size: 21px;
  font-weight: 700;
}

.text_deadline {
  font-size: 16px;
  font-weight: 400;
}

.tasks_info {
  display: flex;
  justify-content: space-between;
  height: 168px;
  border-radius: 30px;
}

.box_tasks_in_board {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 168px;
  height: 168px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.box_tasks_in_board:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 54, 71);
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box_tasks_in_progress {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 168px;
  height: 168px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.box_tasks_in_progress:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 54, 71);
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box_awating_feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 168px;
  height: 168px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.box_awating_feedback:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(42, 54, 71);
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
