.submenu_position {
  position: absolute;
  top: 106px;
  right: 24px;
  height: 158px;
  width: 150px;
  border-radius: 20px 0 20px 20px;
  background-color: rgb(42, 54, 71);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.submenu_edit_position {
  position: absolute;
  bottom: 30px;
  right: 24px;
  height: 116px;
  width: 100px;
  border-radius: 20px 20px 0 20px;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.submenu_links_design {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: rgb(205, 205, 205);
  padding-left: 10px;
}

.submenu_section {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 80%;
  height: 40px;
}

.submenu_section:hover,
.help_submenu_section_responsive:hover {
  background-color: rgb(42, 61, 89);
}

@media only screen and (max-width: 1200px) {
  .submenu_position {
    height: 204px;
  }

  .help_submenu_section_responsive {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 80%;
    height: 40px;
  }
}
