.nav_position_login {
  position: relative;
  bottom: 140px;
  left: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.nav_position_login a {
  color: rgb(205, 205, 205);
  display: flex;
  align-items: center;
  gap: 15px;
  height: 46px;
}

.nav_position_login:hover {
  transition: 125ms ease-in-out;
  background-color: rgb(42, 61, 89);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.content {
  display: inline-block;
  font-size: 16px;
  width: 1014px;
  height: 1024px;
}

.scroll_layout {
  gap: 24px;
  margin: 110px 0 110px 96px;
  overflow-y: scroll;
}

.scroll_layout::-webkit-scrollbar {
  display: none;
}

.links {
  color: rgba(41, 171, 226, 1);
  text-decoration: none;
}

h1 {
  font-size: 61px;
  margin: 0;
}

h2 {
  font-size: 27px;
  font-weight: 400;
}

a {
  color: rgba(41, 171, 226, 1);
}

.mobile_logo {
  display: none;
}

@media only screen and (max-width: 1400px) {
  .header {
    width: calc(100% - 12px);
  }

  .scroll_layout {
    width: auto;
    margin: 110px 40px 110px 96px;
  }

  .content {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .scroll_layout {
    margin: 32px 24px 112px 24px;
    padding-bottom: 50px;
  }
}
