name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Upload via FTP
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install lftp
        run: sudo apt-get install -y lftp

      - name: Deploy via lftp
        env:
          FTP_SERVER: ${{ secrets.FTP_SERVER }}
          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
        run: |
          lftp -c "
            set ftp:ssl-allow no;
            set ftp:passive-mode on;
            open -u $FTP_USERNAME,$FTP_PASSWORD $FTP_SERVER;
            mirror -R --parallel=3 --delete \
              --exclude ^\.git \
              --exclude ^\.github/ \
              --exclude ^out/ \
              . robby-runge.de/join/;
            bye
          "
